---
interface Props {
  relegated: string[];
  promoted: string[];
}

const { relegated, promoted } = Astro.props;
---

<div class="section">
  <h2 class="section-title">Relegation & Promotion</h2>
  <div class="transfer-section">
    {relegated.length > 0 && (
      <div class="transfer-box relegated">
        <h4>Relegated</h4>
        <ul>
          {relegated.map((club) => (
            <li>{club}</li>
          ))}
        </ul>
      </div>
    )}
    {promoted.length > 0 && (
      <div class="transfer-box promoted">
        <h4>Promoted (replacing)</h4>
        <ul>
          {promoted.map((club) => (
            <li>{club}</li>
          ))}
        </ul>
      </div>
    )}
  </div>
</div>
